---
name: "Planned heating with Tado°"
description: "Continuously sets tado° heating shedules according to ChurchTools resource bookings."
version: "0.5.0"
slug: "planned_heating"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
options:
  schedules:
    - name: Workdays
      start: "07:00:00"
      end: "18:00:00"
      days_of_week: "Mon-Thu,Fri"
  ical_calendars:
    - name: null
      source: null
  churchtools:
    url: null
    username: null
    password: null
  heating:
    cold: 17.0
    warm: null
    earlystart: "00:30:00"
  assignments:
    - tadozone: HomeOffice
      cold: null
      warm: 20.0
      earlystart: null
      calendar_names:
        - Workdays
schema:
  schedules:
    - name: str
      start: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
      end: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
      days_of_week: "match(^((Mon|Tue|Wed|Thu|Fri|Sat|Sun)(-(Mon|Tue|Wed|Thu|Fri|Sat|Sun))?(,(Mon|Tue|Wed|Thu|Fri|Sat|Sun)(-(Mon|Tue|Wed|Thu|Fri|Sat|Sun))?)*)$)?"
  ical_calendars:
    - name: str
      source: "match(^(https?://)?.+$)?"
  churchtools:
    url: url
    username: email
    password: password
  heating:
    cold: "float(0.0,25.0)?"
    warm: "float(0.0,25.0)?"
    earlystart: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
  assignments:
    - tadozone: str
      cold: "float(0.0,25.0)?"
      warm: "float(0.0,25.0)?"
      earlystart: "match(^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$)?"
      calendar_names:
        - str
startup: services
ports:
  8000/tcp: 8000
